'http://ck40292-everest.nord:5070/api/Activity?SortBy=id&OrderBy=ascending&Page=1&CountPerPage=11'

In [87]:
import requests
import json
import csv

import pandas as pd


# get activit
params = {
    'SortBy': 'id',
    'OrderBy': 'ascending',
    'Page': 1,
    'CountPerPage': 11
}

url = 'http://ck40292-everest.nord:5070/api/Activity?SortBy={}&OrderBy={}&Page={}&CountPerPage={}'.format(params['SortBy'], params['OrderBy'], params['Page'], params['CountPerPage'])

response = requests.get(url)

# 未接收到 API
if response.status_code != 200:
    print("Failed to get data from API.")
    exit(0)

data = json.loads(response.content)

len(data)

10

In [88]:
new_activity_df = pd.DataFrame(data)

# new_activity_df = new_activity_df.set_index("id")

new_activity_df

,id,trend,title,subTitle,content,html,status,fee,images,connections,holders,objectives,sources,branches,tags
0,011c36bc-2883-4738-e798-08db47c7be8d,0,2023中山企管營,None,【The Smartest Guys in the Room ｜報名開始\n】\n\n各位具...,PHA+PHNwYW4gc3R5bGU9ImZvbnQtZmFtaWx5OkNvbWljIF...,None,[],[https://aicamp.com.tw/storage/backend/product...,[],[],[],"[https://reurl.cc/vk2KrN, https://forms.gle/Dq...","[{'id': 110, 'branchName': 'General', 'locatio...",[]
1,0ac8f130-8834-49bf-e796-08db47c7be8d,0,程式檢定系列~ Python程式語言檢定班《CSFC/ITS證照》,None,資料視覺化是資料科學中火紅的領域，面對資料的巨量化，視覺化是資料科學跟使用者之間最快速、簡潔...,PHA+6LOH5paZ6KaW6Ka65YyW5piv6LOH5paZ56eR5a245L...,None,[],[https://aicamp.com.tw/storage/backend/product...,[],[],[],[https://edu.tcfst.org.tw/web/tw/class/show.as...,"[{'id': 108, 'branchName': 'General', 'locatio...",[]
2,0db4487c-c3d2-4fa9-e79a-08db47c7be8d,0,2023文藻日本語言暨文化體驗營,None,【\n2023\n文藻日本語言暨文化體驗營\n】\n簡章\n\n\n\n一、活動目的：\n\...,PHAgYWxpZ249ImNlbnRlciIgc3R5bGU9InRleHQtYWxpZ2...,None,[],[https://aicamp.com.tw/storage/backend/product...,[],[],[],[https://docs.google.com/forms/d/e/1FAIpQLSc3C...,"[{'id': 112, 'branchName': 'General', 'locatio...",[]
3,3c298aa5-2060-4ff4-e79d-08db47c7be8d,0,東海大學企管系暑期營隊-米企妙妙屋,None,??第11屆企管營《米企妙妙屋》報名開始??\n暑假「企」哪裡？\n暑假企管營??\n想知道...,PHA+8J+UpeesrDEx5bGG5LyB566h54ef44CK57Gz5LyB5a...,None,[],[https://aicamp.com.tw/storage/backend/product...,[],[],[],"[https://aicamp.com.tw/course/Pqkdvzpvej, http...","[{'id': 115, 'branchName': 'General', 'locatio...",[]
4,4941fbc4-4fc9-4fea-e79f-08db47c7be8d,0,我的青航時代－2023航發會x暑期航空營,None,\n<!--td {border: 1px solid #cccccc;}br {mso-d...,PGgyIHN0eWxlPSJmb250LXN0eWxlOml0YWxpYzsiPgo8c3...,None,[],[https://aicamp.com.tw/storage/backend/product...,[],[],[],"[https://aircamp.tw/, https://aircamp.tw/viewe...","[{'id': 117, 'branchName': 'General', 'locatio...",[]
5,92415e27-8e53-4014-e79b-08db47c7be8d,0,2023 中興外文營《午夜秘話 Once Upon A Midnight Dreary》,None,\n\n「對外文有興趣，卻不知道讀外文系適不適合自己？」\n\n「想學習第二外語，卻徬徨得不...,PHA+wqA8L3A+CjxwIHN0eWxlPSJsaW5lLWhlaWdodDoxLj...,None,[],[https://aicamp.com.tw/storage/backend/product...,[],[],[],"[https://forms.gle/YpXNs4WNLcNLpZcv5, https://...","[{'id': 113, 'branchName': 'General', 'locatio...",[]
6,97a73ebe-30d6-4b0a-e797-08db47c7be8d,0,程式檢定系列~C++程式語言APCS基礎檢定班,None,C++是一種高效率編程的語言。透過陣列/指標、函式、標準庫 (standard librar...,PHA+Qysr5piv5LiA56iu6auY5pWI546H57eo56iL55qE6K...,None,[],[https://aicamp.com.tw/storage/backend/product...,[],[],[],[https://edu.tcfst.org.tw/web/tw/class/show.as...,"[{'id': 109, 'branchName': 'General', 'locatio...",[]
7,9f5589a9-8b88-4a94-e799-08db47c7be8d,0,2023東華觀遊營-觀於我們 漫遊太空,None,??\n國立東華大學觀遊營\n\n【觀於我們\n\n漫遊太空】\n\n??\n已經開放報名了...,PHAgc3R5bGU9InRleHQtYWxpZ246c3RhcnQiPjxzcGFuIH...,None,[],[https://aicamp.com.tw/storage/backend/product...,[],[],[],"[https://aicamp.com.tw/course/P0lmjrRYez, http...","[{'id': 111, 'branchName': 'General', 'locatio...",[]
8,afd39ca5-3472-4c72-e79e-08db47c7be8d,0,2023中央大學財金營—金碧輝煌,None,【2023中央大學財金營—金碧輝煌｜活動介紹】\n\n基礎課程將帶你了解財金科系的專業及日常...,PHA+44CQMjAyM+S4reWkruWkp+WtuOiyoemHkeeHn+KAlO...,None,[],[https://aicamp.com.tw/storage/backend/product...,[],[],[],[https://docs.google.com/....../1_bfNlXwno4y.....,"[{'id': 116, 'branchName': 'General', 'locatio...",[]
9,e5697291-8447-4352-e79c-08db47c7be8d,0,高科金融系暑期營《金入航道，追求融耀》,None,??活動資訊??\n??活動日期：2023/7/6(四)～2023/7/9(日)\n??活動...,PHA+8J+Mn+a0u+WLleizh+ioivCfjJ88YnIvPg0K8J+UuO...,None,[],[https://aicamp.com.tw/storage/backend/product...,[],[],[],"[https://aicamp.com.tw/course/P82pPbG6KW, http...","[{'id': 114, 'branchName': 'General', 'locatio...",[]

In [90]:
from pandas import json_normalize

df = json_normalize(data, "branches", ["location", "date"],  meta_prefix='meta_', errors='ignore')

df

,id,branchName,location,date,meta_location,meta_date
0,110,General,[],[],NaN,NaN
1,108,General,[],[],NaN,NaN
2,112,General,[],[],NaN,NaN
3,115,General,[],"[{'name': '報名日期', 'start': '自即日起', 'end': None}]",NaN,NaN
4,117,General,[],[],NaN,NaN
5,113,General,[],"[{'name': '活動日期', 'start': '活動日期】7/04（二）～7/07'...",NaN,NaN
6,109,General,[],[],NaN,NaN
7,111,General,[],[],NaN,NaN
8,116,General,[],[],NaN,NaN
9,114,General,[],"[{'name': '活動日期', 'start': '2023-07-06', 'end'...",NaN,NaN

## 刪除不需要的欄位

In [91]:
new_activity_df = new_activity_df.drop(['html', 'sources','trend', 'status', 'images', 'connections'], axis=1)
# new_activity_df = new_activity_df.drop(['sources'], axis=1)

new_activity_df

,id,title,subTitle,content,fee,holders,objectives,branches,tags
0,011c36bc-2883-4738-e798-08db47c7be8d,2023中山企管營,None,【The Smartest Guys in the Room ｜報名開始\n】\n\n各位具...,[],[],[],"[{'id': 110, 'branchName': 'General', 'locatio...",[]
1,0ac8f130-8834-49bf-e796-08db47c7be8d,程式檢定系列~ Python程式語言檢定班《CSFC/ITS證照》,None,資料視覺化是資料科學中火紅的領域，面對資料的巨量化，視覺化是資料科學跟使用者之間最快速、簡潔...,[],[],[],"[{'id': 108, 'branchName': 'General', 'locatio...",[]
2,0db4487c-c3d2-4fa9-e79a-08db47c7be8d,2023文藻日本語言暨文化體驗營,None,【\n2023\n文藻日本語言暨文化體驗營\n】\n簡章\n\n\n\n一、活動目的：\n\...,[],[],[],"[{'id': 112, 'branchName': 'General', 'locatio...",[]
3,3c298aa5-2060-4ff4-e79d-08db47c7be8d,東海大學企管系暑期營隊-米企妙妙屋,None,??第11屆企管營《米企妙妙屋》報名開始??\n暑假「企」哪裡？\n暑假企管營??\n想知道...,[],[],[],"[{'id': 115, 'branchName': 'General', 'locatio...",[]
4,4941fbc4-4fc9-4fea-e79f-08db47c7be8d,我的青航時代－2023航發會x暑期航空營,None,\n<!--td {border: 1px solid #cccccc;}br {mso-d...,[],[],[],"[{'id': 117, 'branchName': 'General', 'locatio...",[]
5,92415e27-8e53-4014-e79b-08db47c7be8d,2023 中興外文營《午夜秘話 Once Upon A Midnight Dreary》,None,\n\n「對外文有興趣，卻不知道讀外文系適不適合自己？」\n\n「想學習第二外語，卻徬徨得不...,[],[],[],"[{'id': 113, 'branchName': 'General', 'locatio...",[]
6,97a73ebe-30d6-4b0a-e797-08db47c7be8d,程式檢定系列~C++程式語言APCS基礎檢定班,None,C++是一種高效率編程的語言。透過陣列/指標、函式、標準庫 (standard librar...,[],[],[],"[{'id': 109, 'branchName': 'General', 'locatio...",[]
7,9f5589a9-8b88-4a94-e799-08db47c7be8d,2023東華觀遊營-觀於我們 漫遊太空,None,??\n國立東華大學觀遊營\n\n【觀於我們\n\n漫遊太空】\n\n??\n已經開放報名了...,[],[],[],"[{'id': 111, 'branchName': 'General', 'locatio...",[]
8,afd39ca5-3472-4c72-e79e-08db47c7be8d,2023中央大學財金營—金碧輝煌,None,【2023中央大學財金營—金碧輝煌｜活動介紹】\n\n基礎課程將帶你了解財金科系的專業及日常...,[],[],[],"[{'id': 116, 'branchName': 'General', 'locatio...",[]
9,e5697291-8447-4352-e79c-08db47c7be8d,高科金融系暑期營《金入航道，追求融耀》,None,??活動資訊??\n??活動日期：2023/7/6(四)～2023/7/9(日)\n??活動...,[],[],[],"[{'id': 114, 'branchName': 'General', 'locatio...",[]

存進 new_activity.csv 檔裡

In [93]:
new_activity_df.to_csv('data/raw/new_activity.csv', index=False)

new_activity_df = pd.read_csv('data/raw/new_activity.csv')

new_activity_df

,id,title,subTitle,content,fee,holders,objectives,branches,tags
0,011c36bc-2883-4738-e798-08db47c7be8d,2023中山企管營,NaN,【The Smartest Guys in the Room ｜報名開始\n】\n\n各位具...,[],[],[],"[{'id': 110, 'branchName': 'General', 'locatio...",[]
1,0ac8f130-8834-49bf-e796-08db47c7be8d,程式檢定系列~ Python程式語言檢定班《CSFC/ITS證照》,NaN,資料視覺化是資料科學中火紅的領域，面對資料的巨量化，視覺化是資料科學跟使用者之間最快速、簡潔...,[],[],[],"[{'id': 108, 'branchName': 'General', 'locatio...",[]
2,0db4487c-c3d2-4fa9-e79a-08db47c7be8d,2023文藻日本語言暨文化體驗營,NaN,【\n2023\n文藻日本語言暨文化體驗營\n】\n簡章\n\n\n\n一、活動目的：\n\...,[],[],[],"[{'id': 112, 'branchName': 'General', 'locatio...",[]
3,3c298aa5-2060-4ff4-e79d-08db47c7be8d,東海大學企管系暑期營隊-米企妙妙屋,NaN,??第11屆企管營《米企妙妙屋》報名開始??\n暑假「企」哪裡？\n暑假企管營??\n想知道...,[],[],[],"[{'id': 115, 'branchName': 'General', 'locatio...",[]
4,4941fbc4-4fc9-4fea-e79f-08db47c7be8d,我的青航時代－2023航發會x暑期航空營,NaN,\n<!--td {border: 1px solid #cccccc;}br {mso-d...,[],[],[],"[{'id': 117, 'branchName': 'General', 'locatio...",[]
5,92415e27-8e53-4014-e79b-08db47c7be8d,2023 中興外文營《午夜秘話 Once Upon A Midnight Dreary》,NaN,\n\n「對外文有興趣，卻不知道讀外文系適不適合自己？」\n\n「想學習第二外語，卻徬徨得不...,[],[],[],"[{'id': 113, 'branchName': 'General', 'locatio...",[]
6,97a73ebe-30d6-4b0a-e797-08db47c7be8d,程式檢定系列~C++程式語言APCS基礎檢定班,NaN,C++是一種高效率編程的語言。透過陣列/指標、函式、標準庫 (standard librar...,[],[],[],"[{'id': 109, 'branchName': 'General', 'locatio...",[]
7,9f5589a9-8b88-4a94-e799-08db47c7be8d,2023東華觀遊營-觀於我們 漫遊太空,NaN,??\n國立東華大學觀遊營\n\n【觀於我們\n\n漫遊太空】\n\n??\n已經開放報名了...,[],[],[],"[{'id': 111, 'branchName': 'General', 'locatio...",[]
8,afd39ca5-3472-4c72-e79e-08db47c7be8d,2023中央大學財金營—金碧輝煌,NaN,【2023中央大學財金營—金碧輝煌｜活動介紹】\n\n基礎課程將帶你了解財金科系的專業及日常...,[],[],[],"[{'id': 116, 'branchName': 'General', 'locatio...",[]
9,e5697291-8447-4352-e79c-08db47c7be8d,高科金融系暑期營《金入航道，追求融耀》,NaN,??活動資訊??\n??活動日期：2023/7/6(四)～2023/7/9(日)\n??活動...,[],[],[],"[{'id': 114, 'branchName': 'General', 'locatio...",[]


將活動內容進行解碼並抓取文字

這是一個包含網址的文字

In [26]:
import pandas as pd
import base64
from bs4 import BeautifulSoup

# Read CSV file
row_activity = pd.read_csv('data/raw/activity.csv')

# Get encoded content
encode_content = row_activity['content']

# 去除標點符號、數字、特殊符號，以及轉換為小寫
format_text = text_content.apply(lambda x: re.sub(r"[^\u4e00-\u9fa5a-zA-Z]", "", x).lower())

# 去除網址
# format_text = format_text.apply(lambda x: re.sub(r'http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+', '', x))

# 去除網址
format_text = format_text.apply(lambda x: re.sub(r'http\S+', '', x))

# 去除不必要的資訊 還有其他會補上去
format_text = format_text.apply(lambda x: x.replace('\n', '').replace('\xa0', '').replace('\r', ''))

row_activity['content'] = format_text

row_activity

,id,trend,title,content,subTitle,connection,holder,objective,sources,branches,tags
0,6830,1012,雅緻藝術舞蹈團《今天，一起回家》,雅緻藝術舞蹈團今天一起回家發布單位表演藝術科分類表演類發布日期截止日期提供單位文化局活動日期...,NaN,NaN,NaN,NaN,https://culture.tycg.gov.tw/|https://culture.t...,6522-General,桃園市
1,6829,74,物品劇~《大鯨魚的小喉嚨》,物品劇大鯨魚的小喉嚨發布單位表演藝術科分類親子活動發布日期截止日期提供單位文化局活動日期活動...,NaN,NaN,NaN,NaN,https://culture.tycg.gov.tw/|https://culture.t...,6521-General,教育|臺北市|桃園市
2,6020,40,轉知：「2023 中學生跨域問題解決創意專題論壇實施計畫」,一徵稿相關資訊一徵稿主題從聯合國發布的翻轉我們的世界年永續發展方針所規劃的個全球永續發展目標...,NaN,NaN,NaN,NaN,https://sites.google.com/view/changetyc/Confer...,5659-General,嘉義市|宗教|嘉義縣|幼兒教育
3,5172,24,2023 成大觀影腦影像數據分析營 第二期,專業師資引導分析演練實作招生對象全國高中生皆可以報名營隊時間六日營隊地點成功大學社會科學院北...,NaN,NaN,NaN,['招生對象'],https://ncku.aiap.org.tw/courses|https://aicam...,4806-General,心理
4,6828,10,《春風‧唯美世界》二次元古箏,春風唯美世界二次元古箏發布單位表演藝術科分類音樂發布日期截止日期提供單位文化局活動日期活動地...,NaN,NaN,NaN,NaN,https://culture.tycg.gov.tw/|https://culture.t...,6520-General,桃園市
...,...,...,...,...,...,...,...,...,...,...,...
95,6161,0,國立臺灣師範大學-地球科學系開放參觀日,活動時間年月日六報名詳情及網址,NaN,NaN,NaN,NaN,https://esshb.essh.kl.edu.tw/2022/08/25/%e5%9c...,5814-General,NaN
96,6162,0,國立臺灣大學辦理111 學年度高中物理科學人才培育,適用高一及高二生報名簡章,NaN,NaN,NaN,NaN,https://esshb.essh.kl.edu.tw/2022/08/24/%e5%9c...,5815-General,NaN
97,6163,0,中央研究院高中生命科學研究人才培育計畫9/12前報名(限高一生),簡章,NaN,NaN,NaN,NaN,https://esshb.essh.kl.edu.tw/2022/08/24/%e4%b8...,5816-General,NaN
98,6164,0,美國在台協會高雄分處（AIT/K）辦理「2023台灣海洋國際青年論壇」,一為響應聯合國為永續發展之海洋科學十年並鼓勵青年學子投入守護海洋行列關心海洋議題並運用海洋科...,NaN,請報名團隊於112年1月31日（星期二）23時59分前，將提案內容及報名表電子檔逕寄至you...,NaN,NaN,https://esshb.essh.kl.edu.tw/2022/08/19/%e7%be...,5817-General,教育
99,6165,0,APCS最近場次：2022年10月23日檢測(8/30-8/31供高三生優先報名，9/1-9...,首頁網址,NaN,NaN,NaN,NaN,https://esshb.essh.kl.edu.tw/2022/08/16/apcs%e...,5818-General,NaN


查值

In [14]:
# subTitle	connection	holder	objective	
# row_activity.dropna(axis=0, subset=['connection'])
# row_activity.dropna(axis=0, subset=['objective'])
row_activity.dropna(axis=0, subset=['objective'])

,id,trend,title,content,subTitle,holder,objective,tags
3,5172,24,2023 成大觀影腦影像數據分析營 第二期,專業師資引導 分析演練實作\n\n招生對象\n全國高中生皆可以報名\n \n營隊時間\n2...,NaN,NaN,['招生對象'],心理
19,5220,1,高雄醫學大學 2023寒假 從量子到生命起源,「從量子到生命起源」\n由最小的粒子刻度，量子(quantum)，來探討各元素如何組裝成DN...,NaN,NaN,['【招生對象】'],教育|高雄市|醫學|生物
20,5783,1,臺師大人發營 NTNU HDFS camp,活動資訊☀️☀️☀️☀️☀️☀️☀️☀️☀️☀️\n名稱：【2021 第四屆人發營｜初發RE...,NaN,NaN,['招生對象：全國升高一到升大一'],NaN
44,6110,0,112度「Cool English自主學習活動」獎勵辦法,(一)參加對象：１、全國公私立國小三至六年級學生(國小組)及國中七至九年級學生(國中組)。２...,NaN,NaN,['參加對象：'],教育
45,6111,0,112年度「Cool English 英聽王」比賽辦法,(一)報名作答時間：自112年1月16日(星期一)00:00至112年2月17日(星期五)2...,NaN,NaN,['參加對象：'],教育
53,6119,0,國立自然科學博物館辦理111年「科學甲子園-科學聲之旅競賽」,一、參加對象：國小高年級至高中職生皆可報名參加，將分國小暨國中組及高中組。二、報名與繳件方式...,NaN,NaN,['參加對象：國小高年級至高中職生皆可報名參加，將分國小暨國中組及高'],NaN
59,6125,0,國立臺灣師範大學地理學系舉辦之「112年OPEN HOUSE 招生宣導活動」,一、旨揭活動訊息如下： (一)活動時間：112年3月3日(星期五)。 ...,NaN,NaN,['招生對象：全國各高中職學生。'],臺北市
64,6130,0,111學年度「認識技職講座」,一、依據：「111學年度高職優質化輔助方案」，111-B1導引適性就近入學之「111-B1-...,NaN,依據：「111學年度高職優質化輔助方案」，111-B1導引適性就近入學之「111-B1-1職...,['參加對象：'],教育|新北市|基隆市
91,6157,0,111年度基隆巿學生公民實踐方案,一、旨揭計畫為推動兒童權利公約，正向發展兒少表意權，引導師生鼓勵學生關懷公共事務，發想可行的...,NaN,NaN,['參加對象：'],NaN



刪除沒用的資料 sources(資料來源)，images(照片), connection(聯絡方式), branches(??)

In [27]:
row_activity = row_activity.drop(['sources', 'connection', 'branches'], axis=1)


row_activity

,id,trend,title,content,subTitle,holder,objective,tags
0,6830,1012,雅緻藝術舞蹈團《今天，一起回家》,雅緻藝術舞蹈團今天一起回家發布單位表演藝術科分類表演類發布日期截止日期提供單位文化局活動日期...,NaN,NaN,NaN,桃園市
1,6829,74,物品劇~《大鯨魚的小喉嚨》,物品劇大鯨魚的小喉嚨發布單位表演藝術科分類親子活動發布日期截止日期提供單位文化局活動日期活動...,NaN,NaN,NaN,教育|臺北市|桃園市
2,6020,40,轉知：「2023 中學生跨域問題解決創意專題論壇實施計畫」,一徵稿相關資訊一徵稿主題從聯合國發布的翻轉我們的世界年永續發展方針所規劃的個全球永續發展目標...,NaN,NaN,NaN,嘉義市|宗教|嘉義縣|幼兒教育
3,5172,24,2023 成大觀影腦影像數據分析營 第二期,專業師資引導分析演練實作招生對象全國高中生皆可以報名營隊時間六日營隊地點成功大學社會科學院北...,NaN,NaN,['招生對象'],心理
4,6828,10,《春風‧唯美世界》二次元古箏,春風唯美世界二次元古箏發布單位表演藝術科分類音樂發布日期截止日期提供單位文化局活動日期活動地...,NaN,NaN,NaN,桃園市
...,...,...,...,...,...,...,...,...
95,6161,0,國立臺灣師範大學-地球科學系開放參觀日,活動時間年月日六報名詳情及網址,NaN,NaN,NaN,NaN
96,6162,0,國立臺灣大學辦理111 學年度高中物理科學人才培育,適用高一及高二生報名簡章,NaN,NaN,NaN,NaN
97,6163,0,中央研究院高中生命科學研究人才培育計畫9/12前報名(限高一生),簡章,NaN,NaN,NaN,NaN
98,6164,0,美國在台協會高雄分處（AIT/K）辦理「2023台灣海洋國際青年論壇」,一為響應聯合國為永續發展之海洋科學十年並鼓勵青年學子投入守護海洋行列關心海洋議題並運用海洋科...,NaN,NaN,NaN,教育
99,6165,0,APCS最近場次：2022年10月23日檢測(8/30-8/31供高三生優先報名，9/1-9...,首頁網址,NaN,NaN,NaN,NaN



將 subTitle 為null值，都改成 title

In [34]:
# row_activity.loc[row_activity['subTitle'].isnull(), 'subTitle'] = row_activity['title']

# row_activity.loc[row_activity['subTitle'].isnull()]
row_activity.to_csv('data/preprocess/activity.csv', index=False)


活動的特徵是 tags 這個欄位，而我們注意到此時是以 `|` 符號將多個類型串接在一起的文字，\
電腦只能夠處理數值，我們使用獨熱編碼(One Hot Encoder)轉成數值格式。

In [78]:
# movie vector
tags = row_activity["tags"].str.get_dummies('|')
activity_vector = pd.concat([row_activity['id'], tags], axis=1)
activity_vector.set_index("id", inplace=True)

# t = pd.concat([movies["movieId"], dummies], axis=1)
# movie_vec.set_index("movieId",inplace=True)

# tags
activity_vector.iloc[:30]
# print(row_activity['tags'].head())
# print(activity_vector.iloc[:5,])

# print(movies["genres"].head())
# print(movie_vec.iloc[50:5])

,化學,嘉義市,嘉義縣,國文,土木,地球科學,基隆市,外文,宗教,宜蘭縣,...,民俗藝術,法律,生物,臺中市,臺北市,臺南市,資料庫,運動,醫學,高雄市
id,,,,,,,,,,,,,,,,,,,,,
6830,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6829,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
6020,0,1,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5172,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6828,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6827,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5183,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5176,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5503,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5196,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6823,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
6817,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5177,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5189,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5190,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5184,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
6820,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
6813,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6824,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5220,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,1
5783,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5784,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5239,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6089,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,1
6090,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
6091,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6092,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6093,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6094,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6095,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

創建使用者矩陣

In [51]:
tags = row_activity["tags"].str.get_dummies('|')

user_vec = pd.DataFrame(columns=tags.columns)

# user_vec.loc['臺北市',:]
user_vec.loc('')

Series([], Name: 臺北市, dtype: object)

建構一個相似度矩陣，讓每一個user都跟每一個活動計算相似度，
後續我們直接對特定user對應的那個列(row)進行排序，便知道該user參加過的活動與哪部活動最相似。


先創建一個使用者

In [53]:
import pandas as pd

user_df = pd.read_csv("data/raw/user.csv", index_col="id")

user_df

,gender,birthday,professions,county,area
id,,,,,
3fa85f64-5717-4562-b3fc-2c963f66afa6,Male,1990-01-01,Software Developer|Photographer,Taiwan,Taipei

In [54]:
user_df.iloc[0]['area'] = '臺北市'

user_df

,gender,birthday,professions,county,area
id,,,,,
3fa85f64-5717-4562-b3fc-2c963f66afa6,Male,1990-01-01,Software Developer|Photographer,Taiwan,臺北市

創建使用者點擊過的活動，所記錄的 tags

In [60]:
dummy = user_df['area'].str.get_dummies('|')

user_vec = pd.concat([dummy, user_df], axis=1)

user_vec

,臺北市,gender,birthday,professions,county,area
id,,,,,,
3fa85f64-5717-4562-b3fc-2c963f66afa6,1,Male,1990-01-01,Software Developer|Photographer,Taiwan,臺北市

文本欲處理

In [33]:
import pandas as pd

# 创建示例 DataFrame
row_activity = pd.DataFrame({'id': [1, 2, 3],
                             'tags': ['tag1|tag2', 'tag2|tag3', 'tag1']})

# 将 "tags" 列的值转换为 Dummies DataFrame
tags_dummies = row_activity['tags'].str.get_dummies('|')

# 创建新的空 DataFrame，其中包含与 "tags_dummies" 相同的列
new_df = pd.DataFrame(columns=tags_dummies.columns)

# 将 "tags_dummies" DataFrame 与 "new_df" DataFrame 连接
new_df = pd.concat([new_df, tags_dummies], ignore_index=True)

# 输出新的 DataFrame
new_df

  tag1 tag2 tag3
0    1    1    0
1    0    1    1
2    1    0    0

Delete the DataFrame

In [14]:
del row_activity

NameError: name 'row_activity' is not defined