In [ ]:
import requests
import json
import csv

# 設定 API 的路徑和參數

url = "http://220.132.244.41:5044/api/Activity/trend"
params = {
    "countPerSegment": 1,
    "currentSegment": 1
}

# 使用 requests 模組向 API 發送請求
response = requests.post(url, json=params)

# 未接收到 API
if response.status_code != 200:
    print("Failed to get data from API.")
    exit(0)
    
    
# 將回傳的 JSON 資料解析成 Python 的字典
data = json.loads(response.content)["searchResultData"]

# Convert JSON data to DataFrame using json_normalize
# df = pd.json_normalize(data, "branches", ["title", "trend", "content", "subTitle"],  meta_prefix='meta_')

# df
print(data)

from base64 to utf-8

In [59]:
import base64
import binascii

# Base64-encoded string
b64_string = row_activity['content'][0]

# Convert Base64 to bytes
bytes_obj = base64.b64decode(b64_string)

# Convert bytes to UTF-8 string
utf8_string = bytes_obj.decode('utf-8')

utf8_string

'<div id="home_content">\n<div id="home_content00">\n<div class="style_40-1">雅緻藝術舞蹈團《今天，一起回家》</div>\n<div class="content_detail_row">\n<div class="content_detail_column01">發布單位：</div>\n<div class="content_detail_column02">\n<span class="style_40-3">表演藝術科</span>\n</div>\n</div>\n<div class="content_detail_row">\n<div class="content_detail_column01">分\u3000\u3000類：</div>\n<div class="content_detail_column02">\n<span class="style_40-4">表演類 </span>\n</div>\n</div>\n<div class="content_detail_row">\n<div class="content_detail_column01">發布日期：</div>\n<div class="content_detail_column02">\n<span class="style_40-4">112-02-04</span>\n</div>\n</div>\n<div class="content_detail_row">\n<div class="content_detail_column01">截止日期：</div>\n<div class="content_detail_column02">\n<span class="style_40-4">112-03-25</span>\n</div>\n</div>\n<div class="content_detail_row">\n<div class="content_detail_column01">提供單位：</div>\n<div class="content_detail_column02">\n<span class="style_40-4">文化局</span>\n</div>\n</div>\n<div class="content_detail_row">\n<div class="content_detail_column01">活動日期：</div>\n<div class="content_detail_column02">\n<span class="style_40-4">112-03-25 ～ 112-03-25\u3000\u3000\r\n\t\t    \t\r\n\t\t        \t19:30 ～ 20:46\r\n\t\t        </span>\n</div>\n</div>\n<div class="content_detail_row">\n<div class="content_detail_column01">活動地點：</div>\n<div class="content_detail_column02">\n<span class="style_40-4">文化局 演藝廳</span>\n</div>\n</div>\n<div class="content_detail_row">\n<div class="content_detail_column01">活動地址：</div>\n<div class="content_detail_column02">\n<span class="style_40-4">330\u3000桃園市桃園區縣府路21號</span>\n</div>\n</div>\n<div class="content_detail_row">\n<div class="content_detail_column01">主辦單位：</div>\n<div class="content_detail_column02">\n<span class="style_40-4">雅緻藝術舞蹈團</span>\n</div>\n</div>\n<div class="content_detail_row">\n<div class="content_detail_column01">協辦單位：</div>\n<div class="content_detail_column02">\n<span class="style_40-4">桃園市政府文化局</span>\n</div>\n</div>\n<div class="content_detail_row">\n<div class="content_detail_column01">詳細內容：</div>\n<div class="content_detail_column02">\n<span class="style_40-4"><div style="text-align: center;"><span style="font-size:1.75rem;"><span style="font-family:標楷體;"><strong><span style="color:#8B4513;">雅緻藝術舞蹈團《今天，一起回家》<br/>演出時間:112年3月25日(六)19:30<br/>演出地點:文化局演藝廳\xa0 \xa0 \xa0 \xa0 \xa0<br/>入場方式:opentix售票(200元)\xa0</span></strong> \xa0</span></span></div><span style="font-size:1.5rem;"><span style="font-family:標楷體;">\xa0<img alt="今天，一起回家" src="https://www.tycg.gov.tw/fckdowndoc?file=/images/330007/202302/20230204134712.jpg&amp;flag=pic" style="width: 100%; padding: 3px;" title="今天，一起回家"/></span></span><div style="text-align: center;"><span style="font-size:1.5rem;"><span style="font-family:標楷體;"><span style="color:#8B4513;"><strong>想到家，你腦中會浮現出什麼呢?<br/>是進入大樓前社區大門的模樣?是躺在床上軟綿綿的觸感?<br/>還是耳邊傳來電視混雜著聊天的聲音?</strong></span></span></span><br/>\xa0</div><span style="font-size:1.5rem;"><span style="font-family:標楷體;">延續編舞家張堅志於雅緻年度展演《家-The Path of Road》中編創的作品〈回家〉，將原作品解構、加入新元素、融合、雕琢⋯更深入探討、挖掘編舞家對於家的意象，把原先僅流動於表演者間的情感、力量打破，讓觀眾從第三人稱視角轉為第一人稱「我們」</span></span><div style="text-align: center;"><span style="font-size:1.5rem;"><span style="font-family:標楷體;"><span style="color:#8B4513;"><strong>我們《今天，一起回家》</strong></span></span></span></div><span style="font-size:1.5rem;"><span style="font-family:標楷體;">▶<strong><span style="color:#000080;">雅緻藝術舞蹈團</span></strong><br/>\xa0 \xa0 雅緻藝術舞蹈團成立於2012年，致力於培育桃園在地舞蹈演出者，期望能用舞蹈感動民眾，拉近大眾與現代舞蹈的距離。2018年，是我們決定走向專業舞蹈團隊重要的一年，自2018年至2022年的5年，我們連續榮獲桃園傑出演藝團隊，不斷嘗試多元表演形式與題材，將現代舞蹈以生活化的方式呈現給民眾。<br/>\xa0 \xa0 2023年，雅緻將邁入下一個5年，往藝術性及大眾性兩個面向發展不同演出活動，一方面將製作更精緻、細膩的作品；另一方面亦持續發展更生活化舞蹈演出，將現代舞轉化為不同的形式帶給觀眾，並積極走向外縣市展演，讓更多觀眾看到雅緻、看到桃園。<br/>雅緻期許能將最熱愛的舞蹈不斷傳遞出去，與民眾一同享受舞蹈，那怕在眾多人潮當中，我們的作品能感動到一個人，就足以讓我們堅持下去，繼續將舞蹈的美好散播出去。</span></span></span>\n</div>\n</div>\n</div>\n</div>'

從 HTML 裡取出 text

In [62]:
from bs4 import BeautifulSoup

# HTML document
html_doc = utf8_string

# Create a BeautifulSoup object
soup = BeautifulSoup(html_doc, 'html.parser')

# Get the text from the HTML document
text = soup.get_text()

# Remove leading and trailing white spaces
text = text.strip()

print(text) # Output: "ExampleThis is an example paragraph."

雅緻藝術舞蹈團《今天，一起回家》

發布單位：

表演藝術科



分　　類：

表演類



發布日期：

112-02-04



截止日期：

112-03-25



提供單位：

文化局



活動日期：

112-03-25 ～ 112-03-25

		        	19:30 ～ 20:46




活動地點：

文化局 演藝廳



活動地址：

330　桃園市桃園區縣府路21號



主辦單位：

雅緻藝術舞蹈團



協辦單位：

桃園市政府文化局



詳細內容：

雅緻藝術舞蹈團《今天，一起回家》演出時間:112年3月25日(六)19:30演出地點:文化局演藝廳         入場方式:opentix售票(200元)    想到家，你腦中會浮現出什麼呢?是進入大樓前社區大門的模樣?是躺在床上軟綿綿的觸感?還是耳邊傳來電視混雜著聊天的聲音? 延續編舞家張堅志於雅緻年度展演《家-The Path of Road》中編創的作品〈回家〉，將原作品解構、加入新元素、融合、雕琢⋯更深入探討、挖掘編舞家對於家的意象，把原先僅流動於表演者間的情感、力量打破，讓觀眾從第三人稱視角轉為第一人稱「我們」我們《今天，一起回家》▶雅緻藝術舞蹈團    雅緻藝術舞蹈團成立於2012年，致力於培育桃園在地舞蹈演出者，期望能用舞蹈感動民眾，拉近大眾與現代舞蹈的距離。2018年，是我們決定走向專業舞蹈團隊重要的一年，自2018年至2022年的5年，我們連續榮獲桃園傑出演藝團隊，不斷嘗試多元表演形式與題材，將現代舞蹈以生活化的方式呈現給民眾。    2023年，雅緻將邁入下一個5年，往藝術性及大眾性兩個面向發展不同演出活動，一方面將製作更精緻、細膩的作品；另一方面亦持續發展更生活化舞蹈演出，將現代舞轉化為不同的形式帶給觀眾，並積極走向外縣市展演，讓更多觀眾看到雅緻、看到桃園。雅緻期許能將最熱愛的舞蹈不斷傳遞出去，與民眾一同享受舞蹈，那怕在眾多人潮當中，我們的作品能感動到一個人，就足以讓我們堅持下去，繼續將舞蹈的美好散播出去。

=============================


將活動內容進行解碼並抓取文字

In [15]:
import re

text = "這是一段包含標點符號、數字、空格和特殊符號！123abc#$%\n"

# 去除標點符號、數字、特殊符號，以及轉換為小寫
processed_text = re.sub(r"[^\u4e00-\u9fa5a-zA-Z\s\n\f]", "", text).lower()
processed_text = processed_text.replace('\n', '')


processed_text  # "這是一段包含標點符號數字空格和特殊符號abc"

'這是一段包含標點符號數字空格和特殊符號abc'

In [16]:
import pandas as pd
import base64
from bs4 import BeautifulSoup

# Read CSV file
row_activity = pd.read_csv('data/raw/activity.csv')

# Get encoded content
encode_content = row_activity['content']

# Decode Base64 to UTF-8
decode_content = encode_content.apply(lambda x: base64.b64decode(x).decode('utf-8'))

# Extract text from HTML
text_content = decode_content.apply(lambda x: BeautifulSoup(x, 'html.parser').get_text().strip())

# 去除標點符號、數字、特殊符號，以及轉換為小寫
format_text = text_content.apply(lambda x: re.sub(r"[^\u4e00-\u9fa5a-zA-Z]", "", x).lower())

# 去除 \n\f\s
format_text = format_text.apply(lambda x: x.replace('\n', '').replace('\xa0', '').replace('\r', ''))

row_activity['content'] = format_text

format_text

0     雅緻藝術舞蹈團今天一起回家發布單位表演藝術科分類表演類發布日期截止日期提供單位文化局活動日期...
1     物品劇大鯨魚的小喉嚨發布單位表演藝術科分類親子活動發布日期截止日期提供單位文化局活動日期活動...
2     一徵稿相關資訊一徵稿主題從聯合國發布的翻轉我們的世界年永續發展方針所規劃的個全球永續發展目標...
3     專業師資引導分析演練實作招生對象全國高中生皆可以報名營隊時間六日營隊地點成功大學社會科學院北...
4     春風唯美世界二次元古箏發布單位表演藝術科分類音樂發布日期截止日期提供單位文化局活動日期活動地...
                            ...
95             活動時間年月日六報名詳情及網址httpsyoubwixsitecomntnues
96    適用高一及高二生報名簡章httpswebphysntuedutwapadmissionsen...
97    簡章httpshispjprojectsinicaedutwnewsintroductionpdf
98    一為響應聯合國為永續發展之海洋科學十年並鼓勵青年學子投入守護海洋行列關心海洋議題並運用海洋科...
99                           首頁網址httpsapcscsientnuedutw
Name: content, Length: 100, dtype: object


查值

In [14]:
# subTitle	connection	holder	objective	
# row_activity.dropna(axis=0, subset=['connection'])
# row_activity.dropna(axis=0, subset=['objective'])
row_activity.dropna(axis=0, subset=['objective'])

,id,trend,title,content,subTitle,holder,objective,tags
3,5172,24,2023 成大觀影腦影像數據分析營 第二期,專業師資引導 分析演練實作\n\n招生對象\n全國高中生皆可以報名\n \n營隊時間\n2...,NaN,NaN,['招生對象'],心理
19,5220,1,高雄醫學大學 2023寒假 從量子到生命起源,「從量子到生命起源」\n由最小的粒子刻度，量子(quantum)，來探討各元素如何組裝成DN...,NaN,NaN,['【招生對象】'],教育|高雄市|醫學|生物
20,5783,1,臺師大人發營 NTNU HDFS camp,活動資訊☀️☀️☀️☀️☀️☀️☀️☀️☀️☀️\n名稱：【2021 第四屆人發營｜初發RE...,NaN,NaN,['招生對象：全國升高一到升大一'],NaN
44,6110,0,112度「Cool English自主學習活動」獎勵辦法,(一)參加對象：１、全國公私立國小三至六年級學生(國小組)及國中七至九年級學生(國中組)。２...,NaN,NaN,['參加對象：'],教育
45,6111,0,112年度「Cool English 英聽王」比賽辦法,(一)報名作答時間：自112年1月16日(星期一)00:00至112年2月17日(星期五)2...,NaN,NaN,['參加對象：'],教育
53,6119,0,國立自然科學博物館辦理111年「科學甲子園-科學聲之旅競賽」,一、參加對象：國小高年級至高中職生皆可報名參加，將分國小暨國中組及高中組。二、報名與繳件方式...,NaN,NaN,['參加對象：國小高年級至高中職生皆可報名參加，將分國小暨國中組及高'],NaN
59,6125,0,國立臺灣師範大學地理學系舉辦之「112年OPEN HOUSE 招生宣導活動」,一、旨揭活動訊息如下： (一)活動時間：112年3月3日(星期五)。 ...,NaN,NaN,['招生對象：全國各高中職學生。'],臺北市
64,6130,0,111學年度「認識技職講座」,一、依據：「111學年度高職優質化輔助方案」，111-B1導引適性就近入學之「111-B1-...,NaN,依據：「111學年度高職優質化輔助方案」，111-B1導引適性就近入學之「111-B1-1職...,['參加對象：'],教育|新北市|基隆市
91,6157,0,111年度基隆巿學生公民實踐方案,一、旨揭計畫為推動兒童權利公約，正向發展兒少表意權，引導師生鼓勵學生關懷公共事務，發想可行的...,NaN,NaN,['參加對象：'],NaN



刪除沒用的資料 sources(資料來源)，images(照片), connection(聯絡方式), branches(??)

In [38]:
row_activity = row_activity.drop(['sources', 'connection', 'branches'], axis=1)


row_activity

,id,trend,title,content,subTitle,holder,objective,tags
0,6830,1012,雅緻藝術舞蹈團《今天，一起回家》,雅緻藝術舞蹈團《今天，一起回家》\n\n發布單位：\n\n表演藝術科\n\n\n\n分 類...,NaN,NaN,NaN,桃園市
1,6829,74,物品劇~《大鯨魚的小喉嚨》,物品劇~《大鯨魚的小喉嚨》\n\n發布單位：\n\n表演藝術科\n\n\n\n分 類：\n...,NaN,NaN,NaN,教育|臺北市|桃園市
2,6020,40,轉知：「2023 中學生跨域問題解決創意專題論壇實施計畫」,一、徵稿相關資訊：(一)徵稿主題：從聯合國發布的《翻轉我們的世界：2030年永續發展方針》所...,NaN,NaN,NaN,嘉義市|宗教|嘉義縣|幼兒教育
3,5172,24,2023 成大觀影腦影像數據分析營 第二期,專業師資引導 分析演練實作\n\n招生對象\n全國高中生皆可以報名\n \n營隊時間\n2...,NaN,NaN,['招生對象'],心理
4,6828,10,《春風‧唯美世界》二次元古箏,《春風‧唯美世界》二次元古箏\n\n發布單位：\n\n表演藝術科\n\n\n\n分 類：\...,NaN,NaN,NaN,桃園市
...,...,...,...,...,...,...,...,...
95,6161,0,國立臺灣師範大學-地球科學系開放參觀日,活動時間:111年9月17日(六)\n報名詳情及網址:https://youb1707.wi...,NaN,NaN,NaN,NaN
96,6162,0,國立臺灣大學辦理111 學年度高中物理科學人才培育,(適用高一及高二生，8/29-9/12報名)\n簡章：https://web.phys.nt...,NaN,NaN,NaN,NaN
97,6163,0,中央研究院高中生命科學研究人才培育計畫9/12前報名(限高一生),簡章：https://hispj.project.sinica.edu.tw/news/in...,NaN,NaN,NaN,NaN
98,6164,0,美國在台協會高雄分處（AIT/K）辦理「2023台灣海洋國際青年論壇」,一、為響應「聯合國為永續發展之海洋科學十年」，並鼓勵青年學子投入守護海洋行列，關心海洋議題，...,NaN,NaN,NaN,教育
99,6165,0,APCS最近場次：2022年10月23日檢測(8/30-8/31供高三生優先報名，9/1-9...,首頁\n網址：https://apcs.csie.ntnu.edu.tw/,NaN,NaN,NaN,NaN

===============================

將 subTitle 為null值，都改成 title

In [79]:
row_activity.loc[row_activity['subTitle'].isnull(), 'subTitle'] = row_activity['title']

row_activity.to_csv('data/preprocess/activity.csv', index=False)


活動的特徵是 tags 這個欄位，而我們注意到此時是以|符號將多個類型串接在一起的文字，電腦只能夠處理數值，我們使用獨熱編碼(One Hot Encoder)轉成數值格式。

In [78]:
# movie vector
tags = row_activity["tags"].str.get_dummies('|')
activity_vector = pd.concat([row_activity['id'], tags], axis=1)
activity_vector.set_index("id", inplace=True)

# t = pd.concat([movies["movieId"], dummies], axis=1)
# movie_vec.set_index("movieId",inplace=True)

# tags
activity_vector.iloc[:30]
# print(row_activity['tags'].head())
# print(activity_vector.iloc[:5,])

# print(movies["genres"].head())
# print(movie_vec.iloc[50:5])

,化學,嘉義市,嘉義縣,國文,土木,地球科學,基隆市,外文,宗教,宜蘭縣,...,民俗藝術,法律,生物,臺中市,臺北市,臺南市,資料庫,運動,醫學,高雄市
id,,,,,,,,,,,,,,,,,,,,,
6830,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6829,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
6020,0,1,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5172,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6828,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6827,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5183,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5176,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5503,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5196,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6823,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
6817,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5177,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5189,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5190,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5184,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
6820,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
6813,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6824,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5220,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,1
5783,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5784,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5239,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6089,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,1
6090,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
6091,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6092,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6093,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6094,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6095,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

創建使用者矩陣

In [51]:
tags = row_activity["tags"].str.get_dummies('|')

user_vec = pd.DataFrame(columns=tags.columns)

# user_vec.loc['臺北市',:]
user_vec.loc('')

Series([], Name: 臺北市, dtype: object)

建構一個相似度矩陣，讓每一個user都跟每一個活動計算相似度，
後續我們直接對特定user對應的那個列(row)進行排序，便知道該user參加過的活動與哪部活動最相似。


先創建一個使用者

In [53]:
import pandas as pd

user_df = pd.read_csv("data/raw/user.csv", index_col="id")

user_df

,gender,birthday,professions,county,area
id,,,,,
3fa85f64-5717-4562-b3fc-2c963f66afa6,Male,1990-01-01,Software Developer|Photographer,Taiwan,Taipei

In [54]:
user_df.iloc[0]['area'] = '臺北市'

user_df

,gender,birthday,professions,county,area
id,,,,,
3fa85f64-5717-4562-b3fc-2c963f66afa6,Male,1990-01-01,Software Developer|Photographer,Taiwan,臺北市

創建使用者點擊過的活動，所記錄的 tags

In [60]:
dummy = user_df['area'].str.get_dummies('|')

user_vec = pd.concat([dummy, user_df], axis=1)

user_vec

,臺北市,gender,birthday,professions,county,area
id,,,,,,
3fa85f64-5717-4562-b3fc-2c963f66afa6,1,Male,1990-01-01,Software Developer|Photographer,Taiwan,臺北市

In [ ]:
文本欲處理

In [33]:
import pandas as pd

# 创建示例 DataFrame
row_activity = pd.DataFrame({'id': [1, 2, 3],
                             'tags': ['tag1|tag2', 'tag2|tag3', 'tag1']})

# 将 "tags" 列的值转换为 Dummies DataFrame
tags_dummies = row_activity['tags'].str.get_dummies('|')

# 创建新的空 DataFrame，其中包含与 "tags_dummies" 相同的列
new_df = pd.DataFrame(columns=tags_dummies.columns)

# 将 "tags_dummies" DataFrame 与 "new_df" DataFrame 连接
new_df = pd.concat([new_df, tags_dummies], ignore_index=True)

# 输出新的 DataFrame
new_df

  tag1 tag2 tag3
0    1    1    0
1    0    1    1
2    1    0    0

Delete the DataFrame

In [14]:
del row_activity

NameError: name 'row_activity' is not defined